ul {
    padding: 0 10px;
}

li {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    margin: 10px 0;
    align-items: center;
}

.frequency-checkboxes {
    grid-column: 2 / 3;
}

.frequency-checkboxes input {
    width: 25px;
    height: 25px;
}

#notes li {
    grid-template-columns: 5fr 1fr;
}
