@use "./variables";

* {
    font-family: variables.$font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    margin: 50px 20px 20px;
    text-align: center;
}

header {
    text-align: center;
}

header img {
    height: 200px;
}