@use './variables';
@use './mixins';

body {
    width: 100%;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    margin: 0 auto;

    @include mixins.medium {
        gap: 10px;
        padding: 0 10px;
    }
}

main.third {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1300px;
}

section {
    border: 2px solid variables.$dark-green;
    padding: 20px;
    @include mixins.large {
        grid-column: 1 / 3;
    }
}

section.full-width {
    grid-column: 1 / 3;
}