:root {
    --nude: #FFD3BE;
    --dark-nude: #FBAD87;
    --green: #C2CF8C;
    --dark-green: #92A873;
    --yellow: #FFBD59;
}

* {
    font-family: "Montserrat", "Lato", "Verdana", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    margin: 50px 20px 20px;
    text-align: center;
}

header {
    text-align: center;
}

header img {
    height: 200px;
}