@use '../../base';

$size: 20px;

button.remove {
    background-color: base.$nude;
    width: $size;
    height: $size;
    line-height: $size;
    padding: 0;
    text-align: center;
    justify-self: end;
    font-size: 0.7rem;
}

button.remove:hover {
    background-color: base.$dark-nude;
}

#notes button.remove {
    grid-column: 2 / 3;
}


