@use '../../styles/variables';
$size: 20px;

button.remove {
    background-color: variables.$nude;
    width: $size;
    height: $size;
    line-height: $size;
    padding: 0;
    text-align: center;
    justify-self: end;
    font-size: 0.7rem;
}

button.remove:hover {
    background-color: variables.$dark-nude;
}

#last-notes button.remove {
    float: right;
}

#notes button.remove, #last-notes button.remove {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
}


