button.remove {
    background-color: var(--nude);
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    justify-self: end;
    font-size: 0.7rem;
}

button.remove:hover {
    background-color: var(--dark-nude);
}

#notes button.remove {
    grid-column: 2 / 3;
}


