@use '../../base';

input[type="range"] {
    width: 100%;
    padding: 20px 0;
    -webkit-appearance: none;
    appearance: none;
    grid-column: 1 / 2;
}

output {
    text-align: center;
    display: block;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background: base.$yellow;
    line-height: 30px;
    color: white;
    grid-column: 2 / 3;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

fieldset.sleep-and-itch {
    display: grid;
    grid-template-columns: auto 65px;
    padding-top: 35px;
}

label {
    grid-column: 1 / 3;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--dark-nude);
    cursor: pointer;
    margin-top: -4px;
}

input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--dark-nude);
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--dark-nude);
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    background-color: rgba(255, 211, 199, 0.4);
    border-radius: 10px;
    height: 8px;
 }

input[type=range]::-moz-range-track {
    cursor: pointer;
    background-color: rgba(255, 211, 199, 0.4);
    border-radius: 10px;
    height: 8px;
 }

input[type=range]::-ms-track {
     cursor: pointer;
     background-color: rgba(255, 211, 199, 0.4);
     border-radius: 10px;
     height: 8px;
 }
