@use "../../base";
@use "../../layout";

button {
    border: none;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.1s;
    background-color: base.$green;
}

button:hover {
    background-color: base.$dark-green;
}

button[name="scorad"] {
    padding: 15px;
        font-size: 1rem;
}