section.form-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
}

.form-nav p {
    grid-column: 2 / 2;
    margin: auto;
}

button[value="prev"] {
    grid-column: 1 / 1;
    margin-right: 10px;
    margin-left: auto;
}

button[value="next"] {
    grid-column: 3 / 3;
    margin-left: 10px;
}
button {
    background-color: var(--green);
    border: none;
    padding: 20px;
    font-size: 1rem;
    max-width: 100px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.1s;
}

button:hover {
    background-color: var(--dark-green);
}