@use '../../base';

fieldset {
    border-color: base.$green;
    border-style: solid;
    margin: 25px 0;
    padding: 20px;
}

fieldset.symptom {
    display: flex;
    justify-content: space-around;
}

/* input[type='radio'] {
    accent-color: var(--dark-nude);
} */